.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid--row {
  display: flex;
  flex-wrap: wrap;
}

.grid--row-between {
  justify-content: space-between;
}

.grid--full {
  width: 100%;
}

.grid--two {
  width: calc(100% / 2);
}

.grid--three {
  width: calc(100% / 3);
}
